html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Poppins";
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
}

.btn-red {
  background-color: #e84f3d;
  padding: 0px 10px;
  font-size: 1rem;
  line-height: 8px;
  color: #fff;
  border: 0px;
}
